@font-face {
  font-family: 'BalooPaaji';
  font-weight: 700;
  src: url("BalooPaaji2-Bold.2c07b7d5.ttf");
}

@font-face {
  font-family: 'BalooPaaji';
  font-weight: 600;
  src: url("BalooPaaji2-SemiBold.6845e0a8.ttf");
}

@font-face {
  font-family: 'BalooPaaji';
  font-weight: 400;
  src: url("BalooPaaji2-Regular.096a06a5.ttf");
}

::-moz-selection {
  background: #2384ba;
  color: white;
}

::selection {
  background: #2384ba;
  color: white;
}

.container-fluid {
  max-width: 1440px;
}

.color-dark {
  color: #231f20;
}

.background-dark {
  background: #231f20;
}

.color-dark-gradient {
  background: #231f20;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.cls-1 {
  fill: #231f20;
}

.cls-2 {
  fill: #2384ba;
}

body {
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-modify: none;
  -moz-user-modify: none;
  -ms-user-modify: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'BalooPaaji';
  color: #231f20;
  overflow-x: hidden;
}

.header__logo-container {
  max-height: 84px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  max-width: 450px;
}

.header__logo-container svg {
  height: 84px;
  width: auto;
}

.header__logo-sanepid, .header__logo-kongres {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__logo-kongres svg {
  height: calc(84px - 2.5rem);
}

.header__logo-text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.splash-top-right::before {
  border-radius: 50%;
  position: absolute;
  width: 750px;
  height: 750px;
  background: #f2f1e6;
  top: -400px;
  right: -550px;
  display: block;
  content: '';
}

.splash-top-right__svg {
  position: absolute;
  top: -40%;
  z-index: -1;
  right: -28%;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  height: 1300px;
  width: 1300px;
}

.splash-top-right__svg path {
  fill: #edebdc;
}

.hero__heading {
  font-weight: 700;
  font-size: 3.85rem;
  background: linear-gradient(45deg, #2384ba 0%, #37a0cd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  margin: 0;
}

.hero__heading::-moz-selection {
  color: initial;
  background: initial;
}

.hero__heading::selection {
  color: initial;
  background: initial;
}

.hero__illustration {
  max-height: 650px;
  margin-top: -50px;
  margin-right: -100px;
}

.hero__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: block;
}

.hero__btn span {
  position: relative;
  z-index: 2;
}

.hero__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hero__btn:hover {
  color: #f47826;
}

.hero__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero__link {
  color: #231f20;
  font-weight: 700;
  color: #2384ba;
}

.hero__link:hover {
  color: #231f20;
}

.counters__item {
  background: #f2f1e6;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.counters__icon-container {
  background: linear-gradient(45deg, #2384ba 0%, #37a0cd 100%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  margin: auto;
}

.counters__icon {
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.counters__text {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.counters__number {
  font-weight: 700;
  font-size: 1.625rem;
  color: #f47826;
}

.about__heading {
  font-size: 3.85rem;
  font-weight: 700;
  margin: 3rem auto;
  color: #f47826;
}

.about__subheading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #2384ba;
}

.about__text {
  font-weight: 600;
}

.about__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: inline-block;
}

.about__btn span {
  position: relative;
  z-index: 2;
}

.about__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.about__btn:hover {
  color: #f47826;
}

.about__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.how__heading {
  font-size: 3.85rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #2384ba;
}

.how__number {
  height: 100px;
  width: 100px;
  font-size: 3.85rem;
  color: #f47826;
  background: #f2f1e6;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how__step {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__step--2 {
  margin-top: 75px;
}

.how__step--3 {
  margin-top: 150px;
}

.asking__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #2384ba;
}

.asking__subheading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem 0;
  color: #f47826;
}

.asking__p {
  font-size: 0.8rem;
}

.asking__tip {
  font-weight: 600;
  font-size: 1.625rem;
  margin-bottom: 2rem;
}

.asking__arrow {
  -webkit-transform: rotate(270deg) translateX(-7px);
          transform: rotate(270deg) translateX(-7px);
}

.asking__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: dense;
}

.asking__input {
  border-radius: 100px;
  padding: 1rem 1.5rem;
  background: #f2f1e6;
  font-weight: 600;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.asking__input:hover {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.asking__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: inline-block;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 50%;
  min-width: 150px;
  margin-left: auto;
}

.asking__btn span {
  position: relative;
  z-index: 2;
}

.asking__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.asking__btn:hover {
  color: #f47826;
}

.asking__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info__heading {
  color: #2384ba;
  font-weight: 700;
  font-size: 2rem;
  max-width: 610px;
}

.info__subheading {
  font-weight: 600;
  font-size: 1.25rem;
  color: #f47826;
}

.info__owl-tip {
  font-weight: 600;
  color: #2384ba;
  text-align: center;
}

.info__carousel-item {
  -webkit-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%;
}

.info__carousel-item:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.info__carousel-item svg {
  min-width: 50px;
  min-height: 50px;
}

.cls-1 {
  fill: #231f20;
}

.cls-2 {
  fill: #2384ba;
}


/*# sourceMappingURL=style.251b6741.css.map */