@font-face {
    font-family: 'BalooPaaji';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/BalooPaaji2-Bold.ttf');
}

@font-face {
    font-family: 'BalooPaaji';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/BalooPaaji2-SemiBold.ttf');
}

@font-face {
    font-family: 'BalooPaaji';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/BalooPaaji2-Regular.ttf');
}


$backgroundGrey:#f2f1e6;

$kongresDark: #231f20;
$kongresOrange: #f47826;
$kongresLightBlue: #2384ba;
$kongresBlueForGradient: #37a0cd;
$kongresDarkGrey:#58595B;
$kongresGradient: linear-gradient(45deg, rgba(35, 132, 186, 1) 0%, rgba(55, 160, 205, 1) 100%);


$fontSizeH1:3.85rem;
$fontSizeH2: 2rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$fontSizeSmallest: 0.5rem;
$spaceLetters:0.45px;

$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$cubicBezier:cubic-bezier(.91, .11, .19, .92);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;

// .container-fluid {
//     max-width: 1700px;
// }

::selection {
    background: $kongresLightBlue;
    color: white;
}

.container-fluid {
    max-width: 1440px;
}

.color-dark {
    color: $kongresDark;
}

.color-blue {
    color: $kongresLightBlue;
}

.color-orange {
    color: $kongresOrange;
}

.background-dark {
    background: $kongresDark;
}

.color-dark-gradient {
    background: $kongresDark;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.margin-100-top {
    margin-top: 6.5rem;
}

a {

    &:focus,
    &:active {
        text-decoration: none;
    }
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn.btn-link:focus {
    box-shadow: none;
}

.btn-success {
    background-color: $kongresOrange;
    border-color: $kongresOrange;

    &.active,
    &.focus,
    &.hover,
    &:hover,
    &:focus,
    &:active {
        background-color: $kongresOrange;
        border-color: $kongresOrange;
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem #f4782688;
    }
}

.btn-info {
    background-color: $kongresLightBlue;
    border-color: $kongresLightBlue;

    &.active,
    &.focus,
    &.hover,
    &:hover,
    &:focus,
    &:active {
        background-color: $kongresLightBlue;
        border-color: $kongresLightBlue;

    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem #2385ba7c;
    }
}

.page-link {
    color: $kongresLightBlue;
}

.page-item.active .page-link {
    background-color: $kongresLightBlue;
    border-color: $kongresLightBlue;
}

.cls-1 {
    fill: #231f20;
}

.cls-2 {
    fill: #2384ba;
}

.invalid-feedback {
    display: block;
}

.iti {
    width: 100% !important;
}

.columns-2 {
    columns: 2;
}

table a {
    color: $kongresLightBlue;

    &:hover {
        color: $kongresLightBlue;
    }
}

@media (max-width:992px) {
    .columns-2 {
        columns: 1;
    }
}