@import url('aos/dist/aos.css');
@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('owl.carousel/dist/assets/owl.carousel.css');

@import 'predefinied.scss';



body {
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-modify: none;
    -moz-user-modify: none;
    -ms-user-modify: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-family: 'BalooPaaji';
    color: $kongresDark;
    overflow-x: hidden;
}


.header {
    position: relative;
    z-index: 10;

    &__logo {
        &-container {
            max-height: 84px;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            max-width: 450px;

            svg {
                height: 84px;
                width: auto;
            }
        }

        &-sanepid,
        &-kongres {
            display: inline-flex;
        }


        &-kongres {
            svg {
                height: calc(84px - 2.5rem);
            }
        }

        &-text {
            font-size: $fontSizeBodyS;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
            text-align: center;
        }
    }
}

.main {
    overflow-x: hidden;
    margin-top: -140px;
    padding-top: 140px;
    width: 100%;

}

.splash-top-right {

    &-container {
        right: 0;
        position: relative;
    }

    &::before {
        border-radius: 50%;
        position: absolute;
        width: 950px;
        height: 950px;
        background: darken($color: $backgroundGrey, $amount: 3%);
        top: -700px;
        right: -450px;
        display: block;
        content: '';
        display: none;
    }

    &__svg {
        position: absolute;
        top: -700px;
        z-index: -1;
        right: -330px;
        transform: rotate(60deg);
        height: 1300px;
        width: 1300px;

        path {
            fill: darken($color: $backgroundGrey, $amount: 3%);
        }
    }
}

.hero {
    &__heading {
        font-weight: 700;
        font-size: $fontSizeH1;
        color: $kongresLightBlue;
        margin: 0;

        &::selection {
            color: initial;
            background: initial;
        }
    }

    &__illustration {
        max-height: 650px;
        margin-top: -50px;
        margin-right: -100px;

        .dot {
            opacity: 0;
            animation: fading 1.5s alternate-reverse infinite linear;

            &--2 {
                animation-delay: 1.5s;
                animation: fading2 1.5s alternate-reverse infinite linear;
            }


            &--3 {
                animation-delay: 3s;
                animation: fading3 1.5s alternate-reverse infinite linear;
            }
        }

        .gear {
            animation: rotate 4s infinite linear;
            transform-origin: center;
            transform-box: fill-box;

            &--2 {
                animation: rotate 4s infinite reverse linear;
                animation-delay: 0.667s;
            }
        }

        .ray {
            animation: ray .5s infinite alternate-reverse linear;

            &--2 {
                animation: ray2 .5s infinite alternate-reverse linear;
            }
        }

        .clock-part {
            animation: rotate 5s infinite linear;
            transform-origin: 2px 10px;
            transform-box: fill-box;

            &--2 {
                transform-origin: 8px 12px;
                transform-box: fill-box;
                animation: rotate 20s infinite linear;
            }
        }
    }

    &__btn {
        background-color: $kongresOrange;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid $kongresOrange;
        color: white;
        position: relative;
        display: block;

        span {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            left: -100%;
            left: 0;
            // transition: $durationM $cubicBezier;
            transition: $durationM;
            top: 0;
            border-radius: 100px;
            transform: scale(0);
        }

        &:hover {
            color: $kongresOrange;

            .hero__btn-bg {
                left: 0;
                transform: scale(1);
            }
        }
    }

    &__link {
        font-weight: 700;
        color: $kongresLightBlue;
        position: relative;
        overflow: hidden;

        &::before {
            width: 100%;
            content: '';
            height: 2px;
            border-radius: 100px;
            background: $kongresLightBlue;
            bottom: 0;
            left: -100%;
            // left: 0;
            transition: $durationM;
            position: absolute;
        }

        &:hover {
            color: $kongresLightBlue;
            text-decoration: none;

            &::before {
                left: 0;
            }
        }
    }
}

.counters {
    &__item {
        background: $backgroundGrey;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
    }

    &__icon-container {
        background: $kongresLightBlue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin: auto;
        position: relative;
        top: -45px;
    }

    &__icon {
        padding: 1rem;
        max-width: 100%;
        max-height: 100%;
    }

    &__text {
        margin-top: -25px;
        font-size: $fontSizeBodyS;
        font-weight: 600;
        text-transform: uppercase;

    }

    &__number {
        font-weight: 700;
        font-size: $fontSizeH3;
        color: $kongresOrange;
    }
}

.about {
    &__heading {
        font-size: $fontSizeH1;
        font-weight: 700;
        margin: 3rem auto;
        color: $kongresOrange;
    }

    &__subheading {

        font-size: $fontSizeBodyL;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: $kongresLightBlue;
    }

    &__text {
        font-weight: 600;
    }


    &__btn {
        background-color: $kongresOrange;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid $kongresOrange;
        color: white;
        position: relative;
        display: inline-block;

        span {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            left: -100%;
            left: 0;
            // transition: $durationM $cubicBezier;
            transition: $durationM;
            top: 0;
            border-radius: 100px;
            transform: scale(0);
        }

        &:hover {
            color: $kongresOrange;

            .hero__btn-bg {
                left: 0;
                transform: scale(1);
            }
        }
    }

}

.how {
    &__heading {
        font-size: $fontSizeH1;
        font-weight: 700;
        margin-bottom: 3rem;
        color: $kongresLightBlue;
    }

    &__number {
        height: 100px;
        width: 100px;
        font-size: $fontSizeH1;
        color: $kongresOrange;
        background: $backgroundGrey;
        border-radius: 50%;
        font-weight: 700;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__step {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &--2 {
            margin-top: 75px;
        }

        &--3 {
            margin-top: 150px;
        }
    }

    &__border-dots {
        border-image-slice: 33% 33%;
        border-style: dotted;
        border-color: $backgroundGrey;
        border-width: 10.8px;
        border-image-repeat: round;
        position: absolute;
        top: -20px;
        left: 20.5%;
        border-top-right-radius: 500px;
        width: 25%;
        height: 261px;
        border-bottom: none;
        border-left: none;
        z-index: -1;
        transform: rotate(-29deg) !important;

        &--2 {
            left: initial;
            right: 21.5%;
            top: calc(42px + 42px + 4px);
            transform: rotate(40deg) scaleY(-1) !important;
            height: 171px;
        }
    }
}

.asking {
    &__lamp {
        top: -80px;
        left: 50px;
        position: absolute;

        .ray {
            animation: ray .25s infinite alternate-reverse linear;

            &--2 {
                animation: ray2 .25s infinite alternate-reverse linear;
            }
        }
    }

    &__decoration {
        position: absolute;
        top: -52px;
        left: -55px;
        transforM: rotate(56deg);

        &--container {
            z-index: 3;
        }

        &--2 {
            position: absolute;
            top: 88px;
            left: -125px;
            transforM: rotate(165deg);
        }
    }

    &__person-container {
        width: 160px;
        position: absolute;
        transform: scaleX(-1);
        left: -70px;

        &::before {
            content: '';
            background-image: url('../images/SVG/splash-bottom.svg');

            position: absolute;
            top: 79px;
            left: -113px;
            width: 740px;
            height: 552px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            transform: rotate(224deg);
        }

    }

    &__heading {
        font-size: $fontSizeH2;
        font-weight: 700;
        margin-bottom: 3rem;
        color: $kongresLightBlue;
    }

    &__subheading {
        font-size: $fontSizeBodyL;
        font-weight: 600;
        margin: 2rem 0;
        color: $kongresOrange;
    }

    &__p {
        font-size: $fontSizeBodyXS;
    }

    &__tip {
        font-weight: 600;
        font-size: $fontSizeH3;
        margin-bottom: 2rem;
        color: $kongresLightBlue;
    }

    &__arrow {
        transform: rotate(270deg) translateX(-7px);
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-auto-flow: dense;
    }

    &__input {
        border-radius: 100px;
        padding: 1rem 1.5rem;
        background: $backgroundGrey;
        font-weight: 600;
        border: none;
        outline: none;
        box-shadow: none;

        &:hover {

            border: none;
            outline: none;
            box-shadow: none;
        }
    }


    &__btn {
        background-color: $kongresOrange;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid $kongresOrange;
        color: white;
        position: relative;
        display: inline-block;
        grid-column-start: 2;
        width: 50%;
        min-width: 150px;
        margin-left: auto;

        span {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: white;
            left: -100%;
            left: 0;
            // transition: $durationM $cubicBezier;
            transition: $durationM;
            top: 0;
            border-radius: 100px;
            transform: scale(0);
        }

        &:hover {
            color: $kongresOrange;

            .hero__btn-bg {
                left: 0;
                transform: scale(1);
            }
        }
    }


}

.help {
    background: $kongresOrange;
    padding: 3rem 0;
    color: $backgroundGrey;

    &__container {
        // background: $backgroundGrey;
        // border-radius: 1rem;
        text-align: center;
    }

    &__desktop-borders {
        border: none;
        border-left: 1px solid $backgroundGrey;
        border-right: 1px solid $backgroundGrey;
    }



    &__heading {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: $fontSizeH1;
        display: inline-block;
        border-radius: 100px;
        // background: $kongresLightBlue;
        color: white;
        // transform: translateY(-40px);
        // padding: 0.75rem;
        // width: 100%;
        // max-width: 200px;
        margin: auto;

        &--small {
            font-size: $fontSizeBodyM;
        }
    }

    &__small-heading {
        font-weight: 600;
        font-size: $fontSizeH3;
    }

    &__p {
        font-size: $fontSizeBodyM;
    }

    &__subheading,
    &__p {
        text-align: center;
        max-width: 500px;
        margin: auto;
        margin-top: 0.75rem;
    }


    &__link {
        text-transform: uppercase;
        font-size: $fontSizeBodyM;
        color: $backgroundGrey;
        text-align: center;
        width: 100%;
        max-width: 280px;



        background-color: $backgroundGrey;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid $kongresOrange;
        color: $kongresOrange;
        position: relative;
        display: block;

        span {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: absolute;
            background: $kongresOrange;
            transition: $durationM;
            border-radius: 100px;
            transform: scale(0);
            width: calc(100% - 2px);
            left: 1px;
            top: 1px;
            height: calc(100% - 2px);
        }

        &:hover {
            color: $backgroundGrey;

            .help__link-bg {
                transform: scale(1);
            }

        }

    }

    &__donation-link {
        text-transform: uppercase;
        font-size: $fontSizeH3;
        color: $backgroundGrey;
        text-align: center;
        width: 100%;
        max-width: 200px;



        background-color: $backgroundGrey;
        border-radius: 100px;
        font-weight: 700;
        border: 2px solid $kongresOrange;
        color: $kongresOrange;
        position: relative;
        display: block;

        span {
            position: relative;
            z-index: 2;
        }

        &-bg {
            position: absolute;
            background: $kongresOrange;
            transition: $durationM;
            border-radius: 100px;
            transform: scale(0);
            width: calc(100% - 2px);
            left: 1px;
            top: 1px;
            height: calc(100% - 2px);
        }

        &:hover {
            color: $backgroundGrey;

            .help__donation-link-bg {
                transform: scale(1);
            }

        }

    }
}

.info {

    &__heading {
        color: $kongresLightBlue;
        font-weight: 700;
        font-size: $fontSizeH2;
        max-width: 610px;
    }

    &__subheading {
        font-weight: 600;
        font-size: $fontSizeBodyL;
        color: $kongresDark;
    }

    &__owl-tip {
        font-weight: 600;
        color: $kongresLightBlue;
    }

    &__carousel-item {
        transition: $durationM;
        display: block;
        height: 100%;
        width: 100%;

        &:hover {
            transform: scale(0.8);
        }

        svg {
            min-width: 50px;
            min-height: 50px;
        }
    }

}

.footer {
    &__nav {
        display: flex;
    }

    &__nav-item {
        display: inline-block;
    }

    &__link {
        color: $kongresDark;
        transition: $durationM;
        font-weight: 600;

        &:hover {
            color: $kongresLightBlue;
            text-decoration: none;
        }

        &:active,
        &:focus {
            color: $kongresDark;
        }
    }
}

.cls-1 {
    fill: $kongresDark;
}

.cls-2 {
    fill: $kongresLightBlue;
}

.asking .cls-1 {
    fill: $kongresDark;
}

.asking .cls-2 {
    fill: #fb9390;
}

.asking .cls-3 {
    // fill: $kongresLightBlue;

    fill: lighten($color: $kongresDarkGrey, $amount: 7%);

}

.asking .cls-4 {
    fill: $kongresDarkGrey;
}

.asking .cls-5 {
    fill: #f8caa4;
}

.asking .cls-6 {
    fill: $kongresOrange;
}

.asking .cls-7 {
    fill: #fff;
}

.asking .cls-8 {
    fill: #ef7f7f;
}

.asking .cls-9 {
    fill: #ffae73;
}

.hero .cls-1 {
    fill: #f47826;
}

.hero .cls-3 {
    fill: #fff;
}

.hero .cls-4 {
    fill: #fb9390;
}

.hero .cls-5 {
    fill: #e8605d;
}

.hero .cls-6 {
    fill: #ef7f7f;
}

.hero .cls-7 {
    fill: #f7a491;
}

.hero .cls-8 {
    fill: #58595B;
}

.hero .cls-9 {
    fill: #f47458;
}

.hero .cls-10 {
    fill: $kongresDark;
}

.hero .cls-11 {
    fill: darken($color: $kongresLightBlue, $amount: 15%);
}

@media (max-width:992px) {

    .header {
        &__logo-container {

            max-width: 400px;
            width: 100%;
        }
    }

    .splash-top-right {
        &::before {
            display: none;
        }

        &__svg {
            top: -230px;
            right: -140px;
            transform: rotate(46deg);
        }
    }



    .hero {
        &__illustration {
            max-height: 260px;
            margin-top: 1rem;
            margin-right: initial;
            margin-bottom: 1rem;
        }
    }

    .how {
        &__steps {
            flex-direction: column;
        }

        &__step {
            width: 100%;
            max-width: 500px;
            margin: auto;
            margin-top: 1rem;
        }

        &__border-dots {
            display: none;
        }
    }

    .asking {
        &__subheading {
            margin: 1rem 0;
        }

        &__heading {
            margin-bottom: 1rem;
        }

        &__input {
            margin-bottom: 0rem;
        }

        &__person-container svg {
            display: none;
        }
    }

    .help {
        &__desktop-borders {
            border: none;
        }

        &__mobile-borders {
            border: none;
            border-top: 1px solid $backgroundGrey;
            border-bottom: 1px solid $backgroundGrey;
        }
    }
}

@keyframes fading {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fading2 {
    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}

@keyframes fading3 {
    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ray {
    from {
        transform: scaleX(1) scaleY(1) rotate(0deg);
        opacity: 1;
    }

    to {
        transform: scaleY(1.0022) scaleX(1.0022) rotate(0.1deg);
        opacity: 0.625;
    }
}

@keyframes ray2 {
    from {
        transform: scaleX(1.0032) scaleY(1.0032) rotate(0.1deg);
        opacity: 0.625;

    }

    to {
        transform: scaleX(1) scaleY(1) rotate(0deg);
        opacity: 1;
    }
}



@media (min-width:481px) and (max-width:992px) {
    .splash-top-right__svg {
        top: 60px;
        right: -200px;
        width: 700px;
        transform: rotate(185deg) scaleX(-1);
    }
}

@media (max-width: 480px) {
    .header {
        &__logo-container {
            width: 100%;


        }

        &__logo-container svg {
            height: 64px;
        }

        &__logo-kongres svg {
            height: calc(74px - 2.5rem);
        }
    }

    .hero {
        &__illustration {
            max-width: 30vh;
        }
    }

    .asking {

        &__form {
            display: flex;
            flex-direction: column;
        }
    }
}