@import url("aos/dist/aos.css");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("owl.carousel/dist/assets/owl.carousel.css");
@font-face {
  font-family: 'BalooPaaji';
  font-weight: 700;
  src: url("../fonts/BalooPaaji2-Bold.ttf");
}

@font-face {
  font-family: 'BalooPaaji';
  font-weight: 600;
  src: url("../fonts/BalooPaaji2-SemiBold.ttf");
}

@font-face {
  font-family: 'BalooPaaji';
  font-weight: 400;
  src: url("../fonts/BalooPaaji2-Regular.ttf");
}

::-moz-selection {
  background: #2384ba;
  color: white;
}

::selection {
  background: #2384ba;
  color: white;
}

.container-fluid {
  max-width: 1440px;
}

.color-dark {
  color: #231f20;
}

.color-blue {
  color: #2384ba;
}

.color-orange {
  color: #f47826;
}

.background-dark {
  background: #231f20;
}

.color-dark-gradient {
  background: #231f20;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.margin-100-top {
  margin-top: 6.5rem;
}

a:focus, a:active {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cls-1 {
  fill: #231f20;
}

.cls-2 {
  fill: #2384ba;
}

body {
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-modify: none;
  -moz-user-modify: none;
  -ms-user-modify: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'BalooPaaji';
  color: #231f20;
  overflow-x: hidden;
}

.header {
  position: relative;
  z-index: 10;
}

.header__logo-container {
  max-height: 84px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  max-width: 450px;
}

.header__logo-container svg {
  height: 84px;
  width: auto;
}

.header__logo-sanepid, .header__logo-kongres {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__logo-kongres svg {
  height: calc(84px - 2.5rem);
}

.header__logo-text {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  text-align: center;
}

.subpage__nav-item {
  display: block;
}

.main {
  overflow-x: hidden;
  margin-top: -140px;
  padding-top: 140px;
  width: 100%;
}

.splash-top-right-container {
  right: 0;
  position: relative;
}

.splash-top-right::before {
  border-radius: 50%;
  position: absolute;
  width: 950px;
  height: 950px;
  background: #edebdc;
  top: -700px;
  right: -450px;
  display: block;
  content: '';
  display: none;
}

.splash-top-right__svg {
  position: absolute;
  top: -700px;
  z-index: -1;
  right: -330px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  height: 1300px;
  width: 1300px;
}

.splash-top-right__svg path {
  fill: #edebdc;
}

.hero__heading {
  font-weight: 700;
  font-size: 3.85rem;
  color: #2384ba;
  margin: 0;
}

.hero__heading::-moz-selection {
  color: initial;
  background: initial;
}

.hero__heading::selection {
  color: initial;
  background: initial;
}

.hero__illustration {
  max-height: 650px;
  margin-top: -50px;
  margin-right: -100px;
}

.hero__illustration .dot {
  opacity: 0;
  animation: fading 1.5s alternate-reverse infinite linear;
}

.hero__illustration .dot--2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  animation: fading2 1.5s alternate-reverse infinite linear;
}

.hero__illustration .dot--3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  animation: fading3 1.5s alternate-reverse infinite linear;
}

.hero__illustration .gear {
  -webkit-animation: rotate 4s infinite linear;
          animation: rotate 4s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.hero__illustration .gear--2 {
  animation: rotate 4s infinite reverse linear;
  -webkit-animation-delay: 0.667s;
          animation-delay: 0.667s;
}

.hero__illustration .ray {
  animation: ray .5s infinite alternate-reverse linear;
}

.hero__illustration .ray--2 {
  animation: ray2 .5s infinite alternate-reverse linear;
}

.hero__illustration .clock-part {
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
  -webkit-transform-origin: 2px 10px;
          transform-origin: 2px 10px;
  transform-box: fill-box;
}

.hero__illustration .clock-part--2 {
  -webkit-transform-origin: 8px 12px;
          transform-origin: 8px 12px;
  transform-box: fill-box;
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}

.hero__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: block;
}

.hero__btn span {
  position: relative;
  z-index: 2;
}

.hero__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.hero__btn:hover {
  color: #f47826;
}

.hero__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero__link {
  font-weight: 700;
  color: #2384ba;
  position: relative;
  overflow: hidden;
}

.hero__link::before {
  width: 100%;
  content: '';
  height: 2px;
  border-radius: 100px;
  background: #2384ba;
  bottom: 0;
  left: -100%;
  -webkit-transition: 400ms;
  transition: 400ms;
  position: absolute;
}

.hero__link:hover {
  color: #2384ba;
  text-decoration: none;
}

.hero__link:hover::before {
  left: 0;
}

.counters__item {
  background: #f2f1e6;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.counters__icon-container {
  background: #2384ba;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
  top: -45px;
}

.counters__icon {
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.counters__text {
  margin-top: -25px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.counters__number {
  font-weight: 700;
  font-size: 1.625rem;
  color: #f47826;
}

.about__heading {
  font-size: 3.85rem;
  font-weight: 700;
  margin: 3rem auto;
  color: #f47826;
}

.about__subheading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #2384ba;
}

.about__text {
  font-weight: 600;
}

.about__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: inline-block;
}

.about__btn span {
  position: relative;
  z-index: 2;
}

.about__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.about__btn:hover {
  color: #f47826;
}

.about__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.how__heading {
  font-size: 3.85rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #2384ba;
}

.how__number {
  height: 100px;
  width: 100px;
  font-size: 3.85rem;
  color: #f47826;
  background: #f2f1e6;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how__step {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__step--2 {
  margin-top: 75px;
}

.how__step--3 {
  margin-top: 150px;
}

.how__border-dots {
  border-image-slice: 33% 33%;
  border-style: dotted;
  border-color: #f2f1e6;
  border-width: 10.8px;
  border-image-repeat: round;
  position: absolute;
  top: -20px;
  left: 20.5%;
  border-top-right-radius: 500px;
  width: 25%;
  height: 261px;
  border-bottom: none;
  border-left: none;
  z-index: -1;
  -webkit-transform: rotate(-29deg) !important;
          transform: rotate(-29deg) !important;
}

.how__border-dots--2 {
  left: initial;
  right: 21.5%;
  top: calc(42px + 42px + 4px);
  -webkit-transform: rotate(40deg) scaleY(-1) !important;
          transform: rotate(40deg) scaleY(-1) !important;
  height: 171px;
}

.asking__lamp {
  top: -80px;
  left: 50px;
  position: absolute;
}

.asking__lamp .ray {
  animation: ray .25s infinite alternate-reverse linear;
}

.asking__lamp .ray--2 {
  animation: ray2 .25s infinite alternate-reverse linear;
}

.asking__decoration {
  position: absolute;
  top: -52px;
  left: -55px;
  transforM: rotate(56deg);
  z-index: 3;
}

.asking__decoration--container {
  z-index: 3;
}

.asking__decoration--2 {
  position: absolute;
  top: 88px;
  left: -125px;
  transforM: rotate(165deg);
}

.asking__person-container {
  width: 160px;
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -70px;
}

.asking__person-container::before {
  content: '';
  background-image: url("../images/SVG/splash-bottom.svg");
  position: absolute;
  top: 79px;
  left: -113px;
  width: 740px;
  height: 552px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
}

.asking__heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #2384ba;
}

.asking__subheading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem 0;
  color: #f47826;
}

.asking__p {
  font-size: 0.8rem;
}

.asking__tip {
  font-weight: 600;
  font-size: 1.625rem;
  margin-bottom: 2rem;
  color: #2384ba;
}

.asking__arrow {
  -webkit-transform: rotate(270deg) translateX(-7px);
          transform: rotate(270deg) translateX(-7px);
}

.asking__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: dense;
}

.asking__input {
  border-radius: 100px;
  padding: 1rem 1.5rem;
  background: #f2f1e6;
  font-weight: 600;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.asking__input:hover {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.asking__btn {
  background-color: #f47826;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: white;
  position: relative;
  display: inline-block;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 50%;
  min-width: 150px;
  margin-left: auto;
}

.asking__btn span {
  position: relative;
  z-index: 2;
}

.asking__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: -100%;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  top: 0;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.asking__btn:hover {
  color: #f47826;
}

.asking__btn:hover .hero__btn-bg {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.help__container {
  text-align: center;
  background: #f2f1e6;
  border-radius: 1rem;
  padding: 3rem;
  color: #231f20;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: calc(2rem + 30px) 3rem 2rem 3rem !important;
}

.help__desktop-borders {
  border: none;
  border-left: 1px solid #f2f1e6;
  border-right: 1px solid #f2f1e6;
}

.help__heading {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 3.85rem;
  display: inline-block;
  border-radius: 100px;
  color: white;
  margin: auto;
  background: #2384ba;
  padding: 0.75rem 2rem;
  font-size: 2rem !important;
  -webkit-transform: translateY(-60px) translateX(-50%);
          transform: translateY(-60px) translateX(-50%);
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 30px;
  left: 50%;
}

.help__heading--small {
  font-size: 1.25rem !important;
  line-height: 2;
}

.help__small-heading {
  font-weight: 600;
  font-size: 1.625rem;
}

.help__p {
  font-size: 1.125rem;
}

.help__subheading, .help__p {
  text-align: center;
  max-width: 500px;
  /* margin: auto; */
  /* margin-top: 0.75rem; */
  /* margin-top: -40px; */
  margin: 0 !important;
}

.help__link {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #f2f1e6;
  text-align: center;
  width: 100%;
  max-width: 280px;
  background-color: #f2f1e6;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: #f47826;
  position: relative;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.help__link span {
  position: relative;
  z-index: 2;
}

.help__link-bg {
  position: absolute;
  background: #f47826;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: calc(100% - 2px);
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
}

.help__link:hover {
  color: #f2f1e6;
}

.help__link:hover .help__link-bg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.help__donation-link {
  text-transform: uppercase;
  font-size: 1.625rem;
  color: #f2f1e6;
  text-align: center;
  width: 100%;
  max-width: 200px;
  background-color: #f2f1e6;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #f47826;
  color: #f47826;
  position: relative;
  display: block;
  margin: 0 !important;
}

.help__donation-link span {
  position: relative;
  z-index: 2;
}

.help__donation-link-bg {
  position: absolute;
  background: #f47826;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 100px;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: calc(100% - 2px);
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
}

.help__donation-link:hover {
  color: #f2f1e6;
}

.help__donation-link:hover .help__donation-link-bg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info__heading {
  color: #2384ba;
  font-weight: 700;
  font-size: 2rem;
  max-width: 610px;
}

.info__subheading {
  font-weight: 600;
  font-size: 1.25rem;
  color: #231f20;
}

.info__owl-tip {
  font-weight: 600;
  color: #2384ba;
}

.info__carousel-item {
  -webkit-transition: 400ms;
  transition: 400ms;
  display: block;
  height: 100%;
  width: 100%;
}

.info__carousel-item:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.info__carousel-item svg {
  min-width: 50px;
  min-height: 50px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-item {
  display: inline-block;
}

.footer__link {
  color: #231f20;
  -webkit-transition: 400ms;
  transition: 400ms;
  font-weight: 600;
}

.footer__link:hover {
  color: #2384ba;
  text-decoration: none;
}

.footer__link:active, .footer__link:focus {
  color: #231f20;
}

.cls-1 {
  fill: #231f20;
}

.cls-2 {
  fill: #2384ba;
}

.asking .cls-1 {
  fill: #231f20;
}

.asking .cls-2 {
  fill: #fb9390;
}

.asking .cls-3 {
  fill: #6a6b6d;
}

.asking .cls-4 {
  fill: #58595B;
}

.asking .cls-5 {
  fill: #f8caa4;
}

.asking .cls-6 {
  fill: #f47826;
}

.asking .cls-7 {
  fill: #fff;
}

.asking .cls-8 {
  fill: #ef7f7f;
}

.asking .cls-9 {
  fill: #ffae73;
}

.hero .cls-1 {
  fill: #f47826;
}

.hero .cls-3 {
  fill: #fff;
}

.hero .cls-4 {
  fill: #fb9390;
}

.hero .cls-5 {
  fill: #e8605d;
}

.hero .cls-6 {
  fill: #ef7f7f;
}

.hero .cls-7 {
  fill: #f7a491;
}

.hero .cls-8 {
  fill: #58595B;
}

.hero .cls-9 {
  fill: #f47458;
}

.hero .cls-10 {
  fill: #231f20;
}

.hero .cls-11 {
  fill: #17567a;
}

@media (max-width: 992px) {
  .header__logo-container {
    max-width: 400px;
    width: 100%;
  }
  .splash-top-right::before {
    display: none;
  }
  .splash-top-right__svg {
    top: -230px;
    right: -140px;
    -webkit-transform: rotate(46deg);
            transform: rotate(46deg);
  }
  .hero__illustration {
    max-height: 260px;
    margin-top: 1rem;
    margin-right: initial;
    margin-bottom: 1rem;
  }
  .how__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how__step {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
  }
  .how__border-dots {
    display: none;
  }
  .asking__subheading {
    margin: 1rem 0;
  }
  .asking__heading {
    margin-bottom: 1rem;
  }
  .asking__input {
    margin-bottom: 0rem;
  }
  .asking__person-container svg {
    display: none;
  }
  .asking__person-container::before {
    top: -151px;
    left: -113px;
    width: 780px;
    height: 602px;
  }
  .help__desktop-borders {
    border: none;
  }
  .help__mobile-borders {
    border: none;
    border-top: 1px solid #f2f1e6;
    border-bottom: 1px solid #f2f1e6;
  }
  .help__container {
    padding: 2rem 2rem 1rem 2rem !important;
  }
  .help__link {
    font-size: 1rem;
  }
}

@-webkit-keyframes fading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fading2 {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fading2 {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fading3 {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fading3 {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ray {
  from {
    -webkit-transform: scaleX(1) scaleY(1) rotate(0deg);
            transform: scaleX(1) scaleY(1) rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: scaleY(1.0022) scaleX(1.0022) rotate(0.1deg);
            transform: scaleY(1.0022) scaleX(1.0022) rotate(0.1deg);
    opacity: 0.625;
  }
}

@keyframes ray {
  from {
    -webkit-transform: scaleX(1) scaleY(1) rotate(0deg);
            transform: scaleX(1) scaleY(1) rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: scaleY(1.0022) scaleX(1.0022) rotate(0.1deg);
            transform: scaleY(1.0022) scaleX(1.0022) rotate(0.1deg);
    opacity: 0.625;
  }
}

@-webkit-keyframes ray2 {
  from {
    -webkit-transform: scaleX(1.0032) scaleY(1.0032) rotate(0.1deg);
            transform: scaleX(1.0032) scaleY(1.0032) rotate(0.1deg);
    opacity: 0.625;
  }
  to {
    -webkit-transform: scaleX(1) scaleY(1) rotate(0deg);
            transform: scaleX(1) scaleY(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes ray2 {
  from {
    -webkit-transform: scaleX(1.0032) scaleY(1.0032) rotate(0.1deg);
            transform: scaleX(1.0032) scaleY(1.0032) rotate(0.1deg);
    opacity: 0.625;
  }
  to {
    -webkit-transform: scaleX(1) scaleY(1) rotate(0deg);
            transform: scaleX(1) scaleY(1) rotate(0deg);
    opacity: 1;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .splash-top-right__svg {
    top: 60px;
    right: -200px;
    width: 700px;
    -webkit-transform: rotate(185deg) scaleX(-1);
            transform: rotate(185deg) scaleX(-1);
  }
}

@media (max-width: 480px) {
  .header__logo-container {
    width: 100%;
  }
  .header__logo-container svg {
    height: 64px;
  }
  .header__logo-kongres svg {
    height: calc(74px - 2.5rem);
  }
  .hero__heading {
    font-size: 3.5rem;
  }
  .hero__illustration {
    max-width: 30vh;
  }
  .asking__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */